#root {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 80vh;
  width: 100%;
  max-width: 400px;
  border: 1px solid gainsboro;
  border-radius: 8px;
  padding: 16px;
}

.toolbar {
  display: flex;
  gap: 8px;
}

.message-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  gap: 16px;
  padding: 10px;
}
.message-list > li {
  list-style-type: none;
}
.message-list > li:first-child {
  margin-top: auto;
}

.message__container_bot {
  align-self: flex-start;
}
.message__container_client {
  align-self: flex-end;
}
.message {
  max-width: 300px;
  min-width: 36px;
  padding: 16px;
}
.message_bot {
  background-color: cornsilk;
  border-radius: 8px 8px 0 8px;
}
.message_client {
  background-color: aliceblue;
  border-radius: 8px 8px 8px 0;
}

.message__sign {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 0.9rem;
  color: slategrey;
}

.footer {
  display: flex;
  gap: 10px;
}
.footer input {
  width: 100%;
}
